[submodule "dg"]
	path = dg
	url = https://github.com/staticafi/dg
	ignore = untracked
[submodule "sbt-slicer"]
	path = sbt-slicer
	url = https://github.com/staticafi/sbt-slicer
	ignore = untracked
[submodule "sbt-instrumentation"]
	path = sbt-instrumentation
	url = https://github.com/staticafi/sbt-instrumentation
	ignore = untracked
[submodule "klee"]
	path = klee
	url = https://github.com/ayazip/symbiotic.git
[submodule "llvm2c"]
	path = llvm2c
	url = https://github.com/staticafi/llvm2c
