klee
klee-build
llvm-3.4
llvm-build-configure
llvm-build-cmake
install
minisat
stp

*.pyc
*.swp
*.bc
*.so

tags

*.cmake
Makefile
CMakeFiles
CMakeCache.txt
z3/
predator-*/
symbiotic.zip

*.ninja
.ninja*
install_manifest.txt
googletest
llvm-*/
lib/symbioticpy/symbiotic/versions.py
