[submodule "dg"]
	path = dg
	url = https://github.com/mchalupa/dg
	ignore = untracked
[submodule "LLVMInstrumentation"]
	path = LLVMInstrumentation
	url = https://github.com/staticafi/LLVMInstrumentation
	ignore = untracked
[submodule "llvm-instrumentation"]
	path = llvm-instrumentation
	url = https://github.com/staticafi/llvm-instrumentation
