[submodule "sbt-slicer"]
	path = sbt-slicer
	url = https://github.com/staticafi/sbt-slicer
	ignore = untracked
[submodule "sbt-instrumentation"]
	path = sbt-instrumentation
	url = https://github.com/staticafi/sbt-instrumentation
	ignore = untracked
[submodule "klee"]
	path = klee
	url = https://github.com/staticafi/klee
[submodule "llvm2c"]
	path = llvm2c
	url = https://github.com/staticafi/llvm2c
[submodule "sbt-llvmlite"]
	path = sbt-llvmlite
	url = https://github.com/staticafi/sbt-llvmlite
[submodule "sbt-slowbeast"]
	path = sbt-slowbeast
	url = https://github.com/staticafi/sbt-slowbeast
[submodule "sbt-dg"]
	path = sbt-dg
	url = https://github.com/staticafi/sbt-dg
